---
import Logo, { LogoSize } from '../../atoms/Logo';
import Button, { ButtonColor } from '../../atoms/Button';
import HeaderLink from './HeaderLink.astro';
import type { HeaderData } from './Header.astro';

interface Props {
  data: HeaderData;
}

const { data } = Astro.props;
const { logo, nav, button } = data;

---
<div class="hidden lg:block">
  <div class="flex mx-auto items-center justify-between ">
    {logo && (<Logo size={LogoSize.Medium} data={logo}/>)}
    <ul class="flex gap-8">
      {nav.map((item) => (
        <li>
          <HeaderLink label={item.label} href={item.href}/>
        </li>
      ))}
    </ul>
    {button && (
      <Button data={{
            label: button.label,
            href: button.href,
            color: ButtonColor.Black,
          }} />
    )}
  </div>
  
</div>