---
import HeroLandingWidgets from './HeroLandingWidgets.astro';
import Button, { type ButtonData } from '../../atoms/Button';
import Section from '../../layouts/Section.astro';

export interface HeroLandingData {
  suptitle: string;
  title: string;
  content: string;
  button?: ButtonData;
}

interface Props {
  data: HeroLandingData;
}

const { data } = Astro.props;
const { suptitle, title, content, button } = data;
---
<Section>
  <div class="mx-auto flex flex-col md:flex-row justify-between gap-14 items-start">
    <div class={`w-full md:w-1/2 md:max-w-[28.25rem]` /* 452px / 16 = 28.25rem */ }>
      <p class="text-2xl xs:text-3xl font-regular mb-1">{suptitle}</p>
      <h1 class="leading-snug text-3xl xs:leading-snug xs:text-4xl lg:leading-snug lg:text-5xl font-bold mb-4">{title}</h1>
      <div class="text-lg leading-normal" set:html={content}>
      </div>
      {button && (<Button data={{...button}} className="mt-9"/>	)}
    </div>
    <div class={`w-full md:w-1/2`}>
      <HeroLandingWidgets title="We provide"/>					
    </div>
  </div>
</Section>