---
import HeroLandingWidgetsSolutionsItem, { type HeroLandingWidgetsSolutionsItemData } from './HeroLandingWidgetsSolutionsItem.astro';

/*  Types */
export interface HeroLandingWidgetsSolutionsData {
  title: string;
  items?: HeroLandingWidgetsSolutionsItemData[];
}

interface Props {
  data: HeroLandingWidgetsSolutionsData;
}

/*  Components */
const { data } = Astro.props;
const { title, items } = data;
---
<div class="bg-gray-900 rounded-2xl px-6 py-8 md:px-7 md:py-9 overflow-hidden w-full">
  <h2 class="font-semibold text-white text-2xl mb-6">{title}</h2>
  <ul class="-mb-[84px]">
    {items && (items.map((item) => (
      <li class="mb-4">
        <HeroLandingWidgetsSolutionsItem data={item} />
      </li>
    )))}
  </ul>
</div>
