---
import { tv } from 'tailwind-variants';
import { Icon } from 'astro-icon/components';
import hoverBaseAndVariant from '../../../utils/hoverBaseAndVariant';

/* Types */
export interface HeroLandingWidgetsSolutionsItemData {
  label: string;
  sublabel?: string;
  icon?: string;
  href: string;
}

interface Props {
  data: HeroLandingWidgetsSolutionsItemData;
}

/* Style */
const heroLandingSolutionsItems = tv({
  extend: hoverBaseAndVariant,
  base: [
    "inline-flex w-full gap-5 px-4 py-4 rounded-lg",
  ],
  variants: {
    color: {
      whiteFade: true,
    }
  }
});

/* Component */
const { data } = Astro.props;
const { label, sublabel, href, icon } = data;
---
<a class={heroLandingSolutionsItems({color: 'whiteFade', })} href={href}>
  <div class="w-11 h-11 rounded-full shrink-0 bg-white flex items-center justify-center">
    {icon && (<Icon class={`w-[1.5rem] h-[1.5rem]` /* 24px / 16 = 1.5rem */} name={icon} />)}
  </div>
  <div class="text-white text-left overflow-hidden">
    <p class="font-semibold text-xl leading-tight overflow-hidden whitespace-nowrap text-ellipsis">
      {label}
    </p> 
    {sublabel && (<p class="text-sm leading-tight overflow-hidden whitespace-nowrap text-ellipsis">
      {sublabel}
    </p> )}
  </div>
</a>